<div class="card mb-3">
  <h2 class="card-header h4">
    Action #<%= action.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Date</dt>
      <dd><%= action.date %></dd>

      <dt>Name</dt>
      <dd><%= action.name %></dd>

      <dt>Category</dt>
      <dd>
        <% if @action.category.present? %>
          <%= link_to action.category, action.category %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @action.user.present? %>
          <%= link_to action.user, action.user %>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= action.description %></dd>

      <dt>Footprint level</dt>
      <dd>
        <% if @action.impact_level.present? %>
          <%= link_to action.impact_level, action.impact_level %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back action, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @action.user %>
          <%= link_to edit_action_url(action), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @action.user %>
          <%= link_to action, method: :delete, data: { confirm: "Do you really want to delete this action?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(action.updated_at) %> ago
  </div>
</div>
