<% was_validated = action.errors.any? %>

<%= form_with(model: action, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% date_class = "form-control" %>
    <% date_was_invalid = action.errors.include?(:date) %>

    <% if was_validated %>
      <% if date_was_invalid %>
        <% date_class << " is-invalid" %>
      <% else %>
        <% date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :date %>
    <%= f.date_select :date, class: date_class, placeholder: "Enter date" %>
    <% if date_was_invalid %>
      <% action.errors.full_messages_for(:date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = action.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% action.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = action.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% action.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% impact_level_value_class = "form-control" %>
    <% impact_level_value_was_invalid = action.errors.include?(:impact_level_value) %>

    <% if was_validated %>
      <% if impact_level_value_was_invalid %>
        <% impact_level_value_class << " is-invalid" %>
      <% else %>
        <% impact_level_value_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :impact_level_value %>
    <%= f.number_field :impact_level_value, class: impact_level_value_class, placeholder: "Enter impact level value" %>
    <% if impact_level_value_was_invalid %>
      <% action.errors.full_messages_for(:impact_level_value).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% impact_level_class = "form-control" %>
    <% impact_level_was_invalid = action.errors.include?(:impact_level) %>

    <% if was_validated %>
      <% if impact_level_was_invalid %>
        <% impact_level_class << " is-invalid" %>
      <% else %>
        <% impact_level_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :impact_level %>
    <%= f.text_field :impact_level, class: impact_level_class, placeholder: "Enter impact level" %>
    <% if impact_level_was_invalid %>
      <% action.errors.full_messages_for(:impact_level).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = action.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% action.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
