<%= form_with(model: @action, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :category_id, value: @category.id %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :footprint_level_id %>

    <%= f.collection_select :footprint_level_id, FootprintTally.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create action", class: "btn btn-block btn-outline-secondary" %>
<% end %>
